<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>考试导入</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>



</head>
<body style="background-color: #efefef;">
<div class="main-wrapper">
    <div class="create-box">
        <div class="title-box"><h4 class="text-center">请从本地导入试卷题目</h4></div>
        <div class="main-box">
            <div id="ctl01_ContentPlaceHolder1_dotted_line"
                 style="font-size: 18px;color: #cccccc;border-top: 1px solid #cccccc;">
                <em class="word"
                    style="color:#888888;position: relative;top: -13px; font-style: normal;padding: 0 6px; background-color: #fff;">选择以下方式导入</em>
            </div>
            <form enctype="multipart/form-data" method='post'>
                <div class="form-group">
                    <input id="file-4" type="file" class="file">
                </div>
            </form>

        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../js/fileinput.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">

        $("#file-4").fileinput({
            language: 'zh',
            uploadUrl: "/upload.do",
            enctype: "multipart/from-data"
        }).on("fileuploaded", function(event, data) {

            var jc = eval(data.response).Data;

            if (jc==="ok") {
                window.location.replace("/preview");
            }

        });

    </script>


</div>


</body>
</html>